<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.tracecompass.incubator.coherence.ui.views.CoherenceView"
            id="org.eclipse.tracecompass.incubator.coherence.ui.view"
            name="Coherence View"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.tracecompass.incubator.coherence.ui.views.InferenceView"
            id="org.eclipse.tracecompass.incubator.coherence.ui.views.inference"
            name="Inference View"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.tracecompass.incubator.coherence.ui.views.GlobalInferenceView"
            id="org.eclipse.tracecompass.incubator.coherence.ui.views.global.inference"
            name="Global Inference View"
            restorable="false">
      </view>
   </extension>

</plugin>
